# 数据探索

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import brfss
%config InlineBackend.figure_format = 'retina'

In [13]:
df = brfss.ReadBrfss()

In [14]:
df.head()

,sex,age,edu,marital,employ,income,health,bmi,height,weight,exercise,workhour,exemin,fruit,vegetable
0,F,63,4,1,8,3.0,5.0,40.18,1.78,127.01,False,NaN,NaN,False,True
1,F,52,6,2,3,1.0,3.0,25.09,1.73,74.84,True,60.0,168.0,False,False
2,F,71,4,2,7,NaN,4.0,22.04,1.80,71.67,NaN,NaN,NaN,NaN,NaN
3,F,63,4,1,8,8.0,5.0,28.19,1.70,81.65,False,NaN,NaN,True,False
4,F,61,5,1,8,NaN,5.0,24.37,1.63,64.41,False,45.0,NaN,NaN,True